*{
    font-size: 100%;
    font-weight: normal;
    margin:0;
    background-color: rgb(200, 198, 196);
 
}
.head >h1{
    text-align: center;
    font-size: medium;
    font-weight: bolder;
    font-size: 30px;
}

h1{
    font-size: 30px;

}
.body{
    padding-left:10%;
    padding-right:10%;
}
.tab{
    border: 8px;
}
.Last{
    float:right;
    font-size:20px;
}
.word{
    text-align: center;
    font-size: 20px;
}
.Contain{
    float:left;
    font-size: 28px;
    font-weight: bolder;
}
.phone{
    font-size: 20px;
}

p1{
    font-size: 23px;
}
td,th,table{
    border:2px solid black;
    border-collapse: collapse;
    border-width: 3px;
    text-align: center;
}
.jk{
    border: 0;
}
.jk{
    border: 0;
}
b,th{
    font-weight: bold;
}
u{
    font-weight: bold;
}
.address{
    float:right;

    font-size: 23px;
}
h1>br>u{
    text-align: left;
}
.mail{
    font-size: 23px;
}
p>br>{
    font-size: 20px;
}
.pro{
    font-size: 20px;
}

.exp{
    font-size: 20px;
}